#gallery {
  display: flex;
  list-style: none;
}
img {
  width: 90%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  display: flex;
  margin-top: 10px;
}

#categories {
  list-style: none;
}

#counter {
  padding-bottom: 10px;
}
